@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300;400;500;700&display=swap');

*,html,::after,::before {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #e9e9e9;
}

.header {
    width: 320px;
    max-width: 320px;
    height: 100%;
    background-color: #e90f0f;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.4s ease-in;
}

.header input {
    display: none;
}

.header .hamburger-menu {
    position: fixed;
    top: 20px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    height: 16px;
    width: 40px;
    cursor: pointer;
    visibility: hidden;
}

.header .hamburger-menu .hamburger {
    height: 5px;
    width: 30px;
    background-color: #000000;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.header .side-bar {
    padding: 3rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s ease-in-out;
}

.side-bar .nav-head {
    text-align: center;
    margin-bottom: 2rem;
}

.side-bar .nav-head h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
}

.side-bar .nav-links {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.side-bar .nav-links li:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
}
.side-bar .nav-links li {
    padding: 0.9rem;
    text-align: center;
}

.nav-links li .nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #f5f5f5;
    transition: all 0.3s ease;
}

.nav-links li .nav-link:hover,
.nav-links li .nav-link:active {
    color: #a0a0a0;
}

.main {
    margin-left: 350px;
    font-family: 'Poppins', serif;
    position: relative;
}

.main .main-section {
    margin: 1rem;
    padding: 2rem;
}

.main .main-section:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-section .section-head {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main-section .section-content {
    font-family: 'Poppins', serif;
    padding-left: 2rem;
}

.section-content p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: justify;
}

.section-content ul {
    list-style: decimal;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}

.section-content ul li {
    margin-bottom: 0.5rem;
    text-align: justify;
    font-size: 1.1rem;
}

.section-content code {
    display: block;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: #dadada;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
}

.section-content li code {
    margin-top: 0.5rem;
}

#author-text {
    background-color: #000000;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	text-align: center;
    margin-top: 2vw;
    margin-left: 80px;
  }
#link {
    color: rgb(255, 255, 255);

}
